{% extends 'base/main.html' %}

{% block title %}
    Edit Candidate
{% endblock %}

{% block web_title %}
    Edit Candidate
{% endblock %}

{% block content %}
    <main>
        <div class="container-fluid p-3 px-4">
            <h1 class="mt-4">Candidate</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Edit Candidate</li>
            </ol>
            <div class="row justify-content-center">
                <form method="post" id="candidate_form">
                    {% csrf_token %}
                    {% include 'user/messages.html' %}
                    {% if form.errors %}
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li class="text-danger">{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <div class="form-floating mb-3">
                        <input class="form-control" id="inputName" type="text" name="name" value="{{form.name.value|default_if_none:''}}"/>
                        <label for="inputName">Candidate Name</label>
                        <div id="name_validation" style="transition: .3s;" class="text-danger"></div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="inputParty" name="party" value="{{form.party.value|default_if_none:''}}">
                        <label for="inputParty">Candidate Party</label>
                        <div id="party_validation" style="transition: .3s;" class="text-danger"></div>
                    </div>
                    <div class="position-relative">
                        <label for="inputElection" class="form-label">Election:</label>
                        <select class="form-select" id="inputElection" name="election">
                            {% for choice in form.election.field.choices %}
                                <option value="{{ choice.0 }}" {% if form.election.value == choice.0 %} selected {% endif %}>{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                        <div id="election_validation" style="transition: .3s;" class="text-danger"></div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <script>
        document.getElementById('candidate_form').addEventListener('submit', function(event) {
            // Clear previous error messages
            document.getElementById('name_validation').innerHTML = '';
            document.getElementById('party_validation').innerHTML = '';
            document.getElementById('election_validation').innerHTML = '';

            document.getElementById('inputName').classList.remove('border-danger');
            document.getElementById('inputParty').classList.remove('border-danger');
            document.getElementById('inputElection').classList.remove('border-danger');

            // Get form values
            var name = document.getElementById('inputName').value;
            var party = document.getElementById('inputParty').value;
            var election = document.getElementById('inputElection').value;

            // Validate name
            if (name.trim() === ''){
                document.getElementById('name_validation').innerHTML = 'name is required !';
                document.getElementById('inputName').classList.add('border-danger')
                event.preventDefault() // Prevent form submission
            }

            // Validate party
            if (party.trim() === ''){
                document.getElementById('party_validation').innerHTML = 'party is required !';
                document.getElementById('inputParty').classList.add('border-danger')
                event.preventDefault() // Prevent form submission
            }

            // Validate election
            if (election.trim() === ''){
                document.getElementById('election_validation').innerHTML = 'election is required !';
                document.getElementById('inputElection').classList.add('border-danger')
                event.preventDefault() // Prevent form submission
            }
        });
    </script>
{% endblock %}