{% extends 'base/main.html' %}

{% block title %}
    Settings
{% endblock %}

{% block web_title %}
    Settings
{% endblock %}

{% block content %}
    <div class="container-fluid p-3 px-4">
        <h1 class="mt-4">Overview</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">E-Voting Setting</li>
        </ol>
        <a href="#" onclick="window.history.back();" class="btn btn-dark">Back</a>
        <div class="mt-5">
            <ul class="nav nav-tabs" id="settingTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1" aria-selected="true">Elections</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab" aria-controls="tab2" aria-selected="false">Candidates</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="tab3-tab" data-bs-toggle="tab" data-bs-target="#tab3" type="button" role="tab" aria-controls="tab3" aria-selected="false">Votes</button>
                </li>
            </ul>
            <div class="tab-content mt-4" id="settingTabsContent">
                <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                    <div>
                        <a href="{% url 'create_election' %}">
                            <button type="button" class="btn btn-dark">
                                Add Election
                            </button>
                        </a>
                    </div>
                    <div class="card mb-4 mt-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Elections
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple" class="simple-datatable">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th class="text-center">Edit</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th class="text-center">Edit</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for election in elections %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ election.title }}</td>
                                            <td>{{ election.description }}</td>
                                            <td>{{ election.start_date|date }}</td>
                                            <td>{{ election.end_date|date }}</td>
                                            <td>
                                                <a href="{% url 'edit_election' election.id %}" class="d-flex justify-content-center text-decoration-none">
                                                    <button type="button" class="btn btn-dark">
                                                        Edit
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                    <div>
                        <a href="{% url 'add_candidate' %}">
                            <button type="button" class="btn btn-dark">
                                Add Candidate
                            </button>
                        </a>
                    </div>
                    <div class="card mb-4 mt-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Candidate
                        </div>
                        <div class="card-body">
                            <table id="datatablesCandidate" class="simple-datatable">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Party</th>
                                        <th>Election</th>
                                        <th>Creation Date</th>
                                        <th class="text-center">Edit</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Party</th>
                                        <th>Election</th>
                                        <th>Creation Date</th>
                                        <th class="text-center">Edit</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for candidate in candidates %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ candidate.name }}</td>
                                            <td>{{ candidate.party }}</td>
                                            <td>{{ candidate.election.title }}</td>
                                            <td>{{ candidate.created_at|date }}</td>
                                            <td>
                                                <a href="{% url 'edit_candidate' candidate.id %}" class="d-flex justify-content-center text-decoration-none">
                                                    <button type="button" class="btn btn-dark">
                                                        Edit
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                    <div>
                        <a href="{% url 'add_vote' %}">
                            <button type="button" class="btn btn-dark">
                                Add Vote
                            </button>
                        </a>
                    </div>
                    <div class="card mb-4 mt-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Vote
                        </div>
                        <div class="card-body">
                            <table id="datatablesVote" class="simple-datatable">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Voter</th>
                                        <th>Election</th>
                                        <th>Candidate</th>
                                        <th>Creation Date</th>
                                        <th class="text-center">Edit</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>Voter</th>
                                        <th>Election</th>
                                        <th>Candidate</th>
                                        <th>Creation Date</th>
                                        <th class="text-center">Edit</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for vote in votes %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ vote.voter.get_full_name }}</td>
                                            <td>{{ vote.election.title }}</td>
                                            <td>{{ vote.candidate.name }}</td>
                                            <td>{{ vote.created_at|date }}</td>
                                            <td>
                                                <a href="{% url 'edit_vote' vote.id %}" class="d-flex justify-content-center text-decoration-none">
                                                    <button type="button" class="btn btn-dark">
                                                        Edit
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}